APP_ENV=dev
APP_DEBUG=true
APP_BASE_URL=http://localhost:8080

# DB driver: sqlite | mysql
DB_DRIVER=sqlite
DB_SQLITE_PATH=data/aquata.sqlite

# When DB_DRIVER=mysql, set:
# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=aquata
# DB_USER=
# DB_PASS=

SESSION_NAME=aquata_sid
SESSION_LIFETIME=86400
